<h1 class="cart-title">Cart</h1>

<div class="cart-list">
  <% @carts.each do |cart| %>
    <div class="item">
      <% @index += 1 %>
      <p><%= @index %></p>
      <%= image_tag cart.product.image_path, alt: "商品画像" %>
      <p><%= cart.product.name %></p>
      <p><%= cart.product.price.to_fs(:delimited) %>円</p>
      <p>数量：<%= cart.quantity %></p>
      <p>小計：<%= (cart.product.price * cart.quantity).to_fs(:delimited) %>円</p>
      <button><%= link_to("削除", "/cart/#{cart.member_id}/#{cart.product_id}/destroy", {method: :post}) %></button>
    </div>
  <% end %>

  <div class="total-price">
    <p>合計数量：<%= @total_quantity %>
      個</p>
    <p>合計金額：<%= @total_price.to_fs(:delimited) %>
      円</p>
  </div>
</div>

<div class="buy-btn">
  <button><%= link_to('購入手続きへ進む', "/orders/new") %></button>
</div>

<div class="back-btn">
  <%= link_to('Back', root_path) %>
</div>
