<div class="top-page">
  <h1>whisky shop</h1>
  <p>whisky販売専門のECサイトです</p>
</div>
<div class="main-area">
  <div class="aside">
    <ul class="sort-list">
      <li><%= link_to("種類で探す", "#") %></li>
      <li><%= link_to("産地で探す", "#") %></li>
      <li><%= link_to("価格帯で探す", "#") %></li>
    </ul>
  </div>
  <div class="product">
    <h2>商品一覧</h2>

    <div class="item-list">
      <% @products.each do |product| %>
        <%= link_to("/products/#{product.id}") do %>
          <div class="item">
            <img src="<%= "product_images/#{product.image_path} "%>" alt="商品画像">
            <p><%= product.name %></p>
            <p>産地：<%= product.product_area %></p>
            <p>種類：<%= product.material %></p>
            <p>アルコール度数：<%= product.alcohol %></p>
            <p><%= product.price %>円</p>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
