<div class="order">

  <h1>注文確認</h1>

  <%= form_with(model: @order, url: "/orders/create") do |form| %>

    <div class="purchaser">
      <h2>注文者情報</h2>
      <div class="field">
        <%= form.hidden_field :member_id, value: @member.id %>
      </div>
      <div class="purchaser-name">
        <div class="field">
          <%= form.label :purchaser_last_name, "姓：" %>
          <%= form.text_field :purchaser_last_name, value: @member.last_name %>
        </div>
        <div class="field">
          <%= form.label :purchaser_first_name, "名：" %>
          <%= form.text_field :purchaser_first_name, value: @member.first_name %>
        </div>
      </div>
      <div class="field">
        <%= form.label :purchaser_email, "email：" %>
        <%= form.text_field :purchaser_email, value: @member.email %>
      </div>
    </div>

    <div class="shipping">
      <h2>配送先</h2>
      <div class="field">
        <%= form.label :postal_code, "〒：" %>
        <%= form.number_field :postal_code, class: "postal-code" %>
      </div>

      <div class="field">
        <%= form.label :shipping_address, "住所：" %>
        <%= form.text_field :shipping_address %>
      </div>
    </div>

    <div class="payment">
      <h2>決済方法</h2>
      <ul class="field">
        <li>
          <%= form.radio_button :payment_method, 1 %><%= form.label :payment_method, "クレジットカード" %></li>
        <li>
          <%= form.radio_button :payment_method, 2 %><%= form.label :payment_method, "電子マネー" %></li>
        <li>
          <%= form.radio_button :payment_method, 3 %><%= form.label :payment_method, "代金引換" %></li>
        <li>
          <%= form.radio_button :payment_method, 4 %><%= form.label :payment_method, "請求書払" %></li>
      </ul>
    </div>

    <div class="ordered_product">
      <h2>注文商品</h2>
      <div class="cart-list">
        <% @carts.each do |cart| %>
          <div class="item">
            <% @index += 1 %>
            <p><%= @index %></p>
            <%# product_idをparams変数に格納 %>
            <%= form.hidden_field :product_id, value: cart.product.id %>
<!--            <img src="<%#= "/product_images/#{cart.product.image_path} "%>" alt="商品画像">-->
            <%= image_tag cart.product.image_path, alt: "商品画像", class: "before-ordered-image-size" %>
            <p><%= cart.product.name %></p>
            <p><%= cart.product.price.to_s(:delimited) %>円</p>
            <p>数量：<%= cart.quantity %></p>
            <p>小計：<%= (cart.product.price * cart.quantity).to_s(:delimited) %>円</p>
          </div>
        <% end %>

        <div class="total-price">
          <p>合計数量：<%= @total_quantity %>
            個</p>
          <p>合計金額：<%= @total_price.to_s(:delimited) %>
            円</p>
        </div>
      </div>
    </div>

    <div class="postage">
      <h2>送料: 500円（一律）</h2>
      <div class="field">
        <%= form.hidden_field :postage, value: @postage %>
      </div>
    </div>

    <div class="amount-billed">
      <h2>請求額:
        <%= @amount_billed.to_s(:delimited) %>
        円</h2>
      <div class="field">
        <%= form.hidden_field :amount_billed, value: @amount_billed %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit "購入確定" %>
    </div>
  <% end %>

  <div class="back-btn">
    <%= link_to 'Back', "/cart/index" %>
  </div>
</div>
