<div class="order-complete">

  <h1>ご注文完了</h1>
  <p class="buy-date"><%= @order.created_at.strftime('%Y/%m/%d(%a)') %></p>

  <p><%= @member.last_name %>様</p>
  <p id="notice"><%= notice %></p>
  <p class="title">ご注文内容</p>

  <div class="order-list">
    <% @order_products.each do |order_product| %>
      <div class="item">
        <% @index += 1 %>
        <p><%= @index %></p>
<!--        <img-->
<!--          src="<%#= "/product_images/#{order_product.product.image_path} "%>"-->
<!--          alt="商品画像"-->
<!--        >-->
        <%= image_tag order_product.product.image_path, alt: "商品画像" %>
        <p><%= order_product.product.name %></p>
        <p><%= order_product.product.price.to_formatted_s(:delimited) %>円</p>
        <p>数量：<%= order_product.quantity %></p>
        <p>小計：<%= (order_product.product.price * order_product.quantity).to_formatted_s(:delimited) %>円</p>
      </div>
    <% end %>
  </div>

  <div class="payment-info">
    <p>
      <strong>送料:</strong>
      <%= @order.postage %> 円
    </p>

    <p>
      <strong>ご請求額:</strong>
      <%= @order.amount_billed.to_formatted_s(:delimited) %> 円
    </p>

    <p>
      <strong>決済方法:</strong>
      <% if @order.payment_method == 1 %>
        クレジットカード
      <% elsif @order.payment_method == 2 %>
        電子マネー
      <% elsif @order.payment_method == 3 %>
        代金引換
      <% elsif @order.payment_method == 4 %>
        請求書払
      <% end %>
    </p>
  </div>

  <div class="shipping">
    <p><strong>配送先住所</strong></p>
    <p>〒 : <%= @order.postal_code.to_formatted_s.insert(3, "-") %></p>
    <p><%= @order.shipping_address %></p>
  </div>

  <div class="delivary-date">
    <p><strong>お届け予定日：</strong><%= @order.created_at.since(5.days).strftime('%Y/%m/%d(%a)') %></p>
  </div>

  <div class="back-btn">
    <%= link_to('Back', root_path) %>
  </div>
</div>
