<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @order.member_id %>
</p>

<p>
  <strong>Postage:</strong>
  <%= @order.postage %>
</p>

<p>
  <strong>Amount billed:</strong>
  <%= @order.amount_billed %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @order.payment_method %>
</p>

<p>
  <strong>Shipping address:</strong>
  <%= @order.shipping_address %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @order.postal_code %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
