<p id="notice"><%= notice %></p>

<div class="show-item">
  <div class="item-img">
    <%= image_tag @product.image_path, alt: "商品画像", class: "show-image-size" %>
  </div>
  <div class="item-detail">
    <p><strong>商品名：</strong><%= @product.name %></p>
    <p><strong>産地：</strong><%= @product.product_area %></p>
    <p><strong>種類：</strong><%= @product.material %></p>
    <p><strong>アルコール度数：</strong><%= @product.alcohol %></p>
    <p><strong>価格：</strong><%= @product.price.to_s(:delimited) %>円</p>
    <label for="">数量</label>
    <%= form_with(url: "/cart/create") do |form| %>
      <%= form.number_field :quantity, value: 1, min: 1 %>
      <%= form.hidden_field :product_id, value: @product.id %>
      <% if session[:member_id] %>
        <%= form.hidden_field :member_id, value: session[:member_id] %>
      <% end %>
      <%= form.submit "カートに入れる" %>
    <% end %>
  </div>
</div>

<%# 管理者ログインのみ表示するようにする？ %>
<%# <%= link_to 'Edit', edit_product_path(@product) %>
<%# <%= link_to 'Back', products_path %>
<div class="back-btn">
  <%= link_to 'Back', root_path %>
</div>
