<header>
  <div class="header-container">
    <div class="logo">
      <h1><%= link_to("whisky", root_path) %></h1>
    </div>
    <ul class="list">
      <% if session[:member_id] %>
        <li>ようこそ<%= @member[:last_name] %>様</li>
        <li><%= link_to("cart", "cart/index") %></li>
        <li><%= link_to("logout", "/members/logout", {method: :post}) %></li>
      <% else %>
        <li><%= link_to("signup", "/members/new") %></li>
        <li><%= link_to("login", "/members/login") %></li>
        <%# <li><%= link_to("cart", "/cart/index") %>
      <% end %>
    </ul>
  </div>
</header>
